@use '../variables.scss';

#footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$background;
    color: variables.$font-color;

}