@use "../variables.scss";
@use "../mixins.scss";

#task{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

#details{
    text-align: left;

    h4{
        font-size: 1.2em;
        margin-bottom: 1em;
    }
}

#actions {
  @include mixins.center;

    i{
        margin-bottom: .3em;
        font-size: 1.2em;
        cursor: pointer;
        background-color: variables.$font-color;
        color: variables.$background-modal;
        border-radius: 15px;
        padding: .4em;
        transition: .5s;
        &:hover{
            background-color: variables.$color-gradient;
            color: variables.$font-color;
        }
    }
}