@use "../styles/variables.scss";
* {
    padding: 0;
    margin: 0;
    font-family: variables.$font-stack;
}

.hide{
    display: none !important;
}

body{
    background-color: variables.$background;
    color: variables.$font-color;
    user-select: none;
    &::-webkit-scrollbar-thumb{
       background-color: variables.$font-color;
       border-radius: 10px;
    }
    &::-webkit-scrollbar-track{
       
       border-radius: 10px;
    }
    
    &::-webkit-scrollbar{
       width: 10px;
    }

    
}

