* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hide{
    display: none !important;
}

body{
    background-color: #1F1D36;
    color: #fff;
}

 body::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;
 }

 body::-webkit-scrollbar-track{
    
    border-radius: 10px;
 }

 body::-webkit-scrollbar{
    width: 10px;
 }